<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/index.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <title>Minbo</title>
  </head>
  <body>
    <main>
      <ul class="com-head"></ul>
      <div class="com-bodys">
        <div class="com-nav">
          <ul class="com-nav__funcs">
            <li class="com-nav__func">
              <i class="fas fa-address-card" style="color: rgb(255, 80, 80) "></i>
              <a
                href="http://localhost:2999/information"
                class="com-nav__func-name"
                >Information</a
              >
            </li>
            <li class="com-nav__func" >
              <i class="fas fa-align-left" style="color: rgb(255, 80, 80)"></i>
              <a
                href="http://localhost:2999/text-generate"
                class="com-nav__func-name"
                >Text Generate</a
              >
            </li>
            <li class="com-nav__func" style="background-color: white">
              <i class="fas fa-smile-wink" style="color: rgb(255, 80, 80)"></i>
              <a
              style="color: black"

                href="http://localhost:2999/face-detection"
                class="com-nav__func-name"
                >Face detecion</a
              >
            </li>
          </ul>
        </div>
        <div class="com-body"></div>
      </div>
    </main>
  </body>
</html>
