<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/index.css" />
    <link rel="stylesheet" href="../static/text-generate.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />
    <title>Minbo</title>
  </head>
  <body>
    <main>
      <ul class="com-head"></ul>
      <div class="com-bodys">
        <div class="com-nav">
          <ul class="com-nav__funcs">
            <li class="com-nav__func">
              <i class="fas fa-address-card" style="color: #B197FC "></i>
              <a
                href="http://localhost:2999/information"
                class="com-nav__func-name"
                >Information</a
              >
            </li>
            <li class="com-nav__func" style="background-color: rgb(255, 255, 255, 0.5)" >
                <i class="fas fa-align-left" style="color: rgb(255, 80, 80);"></i>              <a
                style="color: black;"
                href="http://localhost:2999/text-generate"
                class="com-nav__func-name"
                >Text Generate</a
              >
            </li>
            <li class="com-nav__func">
                <i class="fas fa-grin-beam" style="color: #FFD43B;"></i>
                              <a
                href="http://localhost:2999/face-detection"
                class="com-nav__func-name"
                >Face detection</a
              >
            </li>
            <li class="com-nav__func">
                <i class="fas fa-cloud" style="color: #74C0FC;"></i>
                <a
                  href="http://localhost:2999/weather"
                  class="com-nav__func-name"
                  >Weather</a
                >
              </li>
          </ul>
        </div>
        <div class="com-body">
          <div class="com-body__generate">
            <div class="com-body__generate--result">
              <div class="label">Prediction</div>
              <div class="result">111111</div>
            </div>
            <div class="com-body__generate--input">
              <canvas id="myCanvas"></canvas>
              <div class="canvas-func">
                <button  onclick="clearCanvas()">Clear</button>
                <button class="save-img">Save</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <script src="../static/generate.js"></script>

  </body>
</html>
