<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../static/index.css" />
  <link rel="stylesheet" href="../static/weather.css" />
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
  />
  <title>Minbo</title>
</head>
<body>
  <main>
    <ul class="com-head"></ul>
    <div class="com-bodys">
      <div class="com-nav">
        <ul class="com-nav__funcs">
          <li class="com-nav__func">
            <i class="fas fa-address-card" style="color: #b197fc"></i>
            <a href="http://localhost:2999/information" class="com-nav__func-name">Information</a>
          </li>
          <li class="com-nav__func">
            <i class="fas fa-align-left" style="color: rgb(255, 80, 80)"></i>
            <a href="http://localhost:2999/text-generate" class="com-nav__func-name">Text Generate</a>
          </li>
          <li class="com-nav__func">
            <i class="fas fa-grin-beam" style="color: #ffd43b"></i>
            <a href="http://localhost:2999/face-detection" class="com-nav__func-name">Face detection</a>
          </li>
          <li class="com-nav__func" style="background-color: rgb(255, 255, 255, 0.5)">
            <i class="fas fa-cloud" style="color: #74c0fc"></i>
            <a style="color: black" href="http://localhost:2999/weather" class="com-nav__func-name">Weather</a>
          </li>
        </ul>
      </div>
      <div class="com-body">
        <div class="weather">
          <div class="date--title">
            <p class="date" style="font-weight: bold"></p>
          </div>
          <div class="weather-status" id="weather-status">
            {% for weather in weather_data %}
              {% if current_date == weather.Date %}
                <div class="weather-status__item active_today">
                  <div class="weather-item weather-hour">{{ weather.Date }}</div>
                  {% if weather.Predicted > 50 %}
                    <div class="weather-item weather-icon">
                      <i class="fas fa-cloud-showers-heavy" style="color: #74c0fc; font-size: 50px"></i>
                    </div>
                    <div class="weather-item weather-name">Rain {{weather.Predicted}}% - ({{ weather.HumidityMin }}/{{ weather.HumidityMax }}°C)</div>
                  {% else %}
                    <div class="weather-item weather-icon">
                      <i class="fas fa-cloud-sun" style="color: #e3fc74; font-size: 50px"></i>
                    </div>
                    <div class="weather-item weather-name">Sun {{weather.Predicted}}% - ({{ weather.HumidityMin }}/{{ weather.HumidityMax }}°C)</div>
                  {% endif %}
                </div>
              {% else %}
                <div class="weather-status__item">
                  <div class="weather-item weather-hour">{{ weather.Date }}</div>
                  {% if weather.Predicted > 50 %}
                    <div class="weather-item weather-icon">
                      <i class="fas fa-cloud-showers-heavy" style="color: #74c0fc; font-size: 50px"></i>
                    </div>
                    <div class="weather-item weather-name">Rain {{weather.Predicted}}% - ({{ weather.HumidityMin }}/{{ weather.HumidityMax }}°C)</div>
                  {% else %}
                    <div class="weather-item weather-icon">
                      <i class="fas fa-cloud-sun" style="color: #e3fc74; font-size: 50px"></i>
                    </div>
                    <div class="weather-item weather-name">Sun {{weather.Predicted}}% - ({{ weather.HumidityMin }}/{{ weather.HumidityMax }}°C)</div>
                  {% endif %}
                </div>
              {% endif %}
            {% endfor %}
          </div>
          <div class="weather-statistic">

            <div class="statistic-items">
              <div class="statistic-item-head">
                <div class="statistic-item__title">Visualization</div>
              </div>

              <div class="plots-result">
                <img style="width: 99%; height: fit-content" src="../static/model/visualization.png" alt="" />
            </div>
            <div class="statistic-items">
              <div class="statistic-item-head">
                <div class="statistic-item__title">Results</div>
              </div>

              <div class="plots-result">
                <img class="plot" src="../static/model/result_MAE.png" alt="" />
            </div>
            <div class="statistic-items">
              <div class="statistic-item-head">
                <div class="statistic-item__title">Results Xgboost Model Visualization</div>
              </div>
              <div class="plots-result">
                <img class="plot" src="../static/model/XGBRegressor/precipprob.png" alt="" />
                <img class="plot" src="../static/model/XGBRegressor/humidity.png" alt="" />
                <img class="plot" src="../static/model/XGBRegressor/tempmax.png" alt="" />
                <img class="plot" src="../static/model/XGBRegressor/tempmin.png" alt="" />
                <img class="plot" src="../static/model/XGBRegressor/temp.png" alt="" />
                <img class="plot" src="../static/model/XGBRegressor/feelslikemax.png" alt="" />
                <img class="plot" src="../static/model/XGBRegressor/feelslikemin.png" alt="" />
                <img class="plot" src="../static/model/XGBRegressor/feelslike.png" alt="" />
                <img class="plot" src="../static/model/XGBRegressor/cloudcover.png" alt="" />
                <img class="plot" src="../static/model/XGBRegressor/visibility.png" alt="" />
                <img class="plot" src="../static/model/XGBRegressor/uvindex.png" alt="" />
                <img class="plot" src="../static/model/XGBRegressor/windspeed.png" alt="" />
              </div>
            </div>
           
          </div>
          
        </div>
      </div>
    </div>
  </main>
  <script src="../static/weather.js"></script>
</body>
</html>
